{% extends '../home/base.html' %}

{% load static %}

{% block body %}
<html>
  <head>
  </head>
  <body>
    <img src="{% static '' %}{{page.image_link}}"
     style="height:50%;width:50%;position:relative;left:25%;"
     >
     {% if first_chapter == False %}
     <p style="text-align:center;">
       <a href="/manga/{{title}}/{{chapter}}/{{prev}}">
         Last Page
       </a>
     </p><br>
     {% endif %}
     {% if last_chapter == False %}
     <p style="text-align:center;">
       <a href="/manga/{{title}}/{{chapter}}/{{next}}">
         Next Page
       </a>
     </p><br>
     {% endif %}
     <p style="text-align:center;">
       <a href="/manga/{{title}}">
         List of Chapters
       </a>
     </p><br>
  </body>
</html>
{% endblock %}
